.center {
  display: flex;
  justify-content: center;
}

.jumble-name {
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0 10px 0;
}

.jumble-table {
  border-collapse: collapse;
  background:#FEFEFA;
  text-align:center;
}

.jumble-table > tbody > tr > td {
  width:25px;
  height:25px;
  padding:5px;
}

/* in a pin 1234 this is for row 1 and column 2 */
.selected-first {
  background:#E4D373;
}

/* in a pin 1234 this is for row 3 and column 4 */
.selected-second {
  background:#B3D56C;
}

.action-panel {
  display: flex;
  justify-content: flex-end;
  padding-top:15px;
}

.action-button {
  width:100px;
  margin-left: 15px;
}
